#color-display-container {
    height: 100px;
    width: 100vw;
}

.range {
    display: inline-block;
    width: 33vw;
}

.palette-block {
    display: inline-block;
    width: 8.9vw;
    margin-left: 0.9vw;
    height: 8vh;
    border-radius: 10px;
    border: 1px solid black;
}