#color-display-container {
    height: 60px;
    width: 100vw;
}

.range {
    display: inline-block;
    width: 33vw;
}

.palette-block {
    display: inline-block;
    width: 10vw;
    height: 8vh;
}