<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Lab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <div id="color-display-container" [ngStyle]="{'background-color': colorCode}"></div>

  <ion-item>
    <ion-input placeholder="Enter RGB color..."></ion-input>
    <ion-button clear item-right>Apply RGB</ion-button>
  </ion-item>
  <ion-item style="margin-bottom: 5vh;">
    <ion-range (ngModelChange)="rChange($event)" [(ngModel)]="R" class="range" 
      pin="true" min="0" max="255" step="1">
    </ion-range>
    <ion-range (ngModelChange)="gChange($event)" [(ngModel)]="G" class="range" 
      pin="true" min="0" max="255" step="1">
    </ion-range>
    <ion-range (ngModelChange)="bChange($event)" [(ngModel)]="B" class="range" 
      pin="true" min="0" max="255" step="1">
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Enter XYZ color..."></ion-input>
    <ion-button clear item-right>Apply XYZ</ion-button>
  </ion-item>
  <ion-item style="margin-bottom: 5vh;">
    <ion-range (ngModelChange)="xChange($event)" [(ngModel)]="X" class="range" 
      pin="true" min="0" max="1" step="0.01">
    </ion-range>
    <ion-range (ngModelChange)="yChange($event)" [(ngModel)]="Y" class="range" 
      pin="true" min="0" max="1" step="0.01">
    </ion-range>
    <ion-range (ngModelChange)="zChange($event)" [(ngModel)]="Z" class="range" 
      pin="true" min="0" max="1" step="0.01">
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Enter HLS color..."></ion-input>
    <ion-button clear item-right>Apply HLS</ion-button>
  </ion-item>
  <ion-item style="margin-bottom: 5vh;">
    <ion-range (ngModelChange)="hChange($event)" [(ngModel)]="H" class="range" 
      pin="true" min="0" max="360" step="1">
    </ion-range>
    <ion-range (ngModelChange)="lChange($event)" [(ngModel)]="L" class="range" 
      pin="true" min="0" max="100" step="1">
    </ion-range>
    <ion-range (ngModelChange)="sChange($event)" [(ngModel)]="S" class="range" 
      pin="true" min="0" max="100" step="1">
    </ion-range>
  </ion-item>

  <div>
    <div class="palette-block" style="background-color: rgb(22, 22, 22)" (click)="setColor('rgb(22, 22, 22)')"></div>
    <div class="palette-block" style="background-color: rgb(230, 226, 9)" (click)="setColor('rgb(230, 226, 9)')"></div>
    <div class="palette-block" style="background-color: rgb(29, 233, 121)" (click)="setColor('rgb(29, 233, 121)')"></div>
    <div class="palette-block" style="background-color: rgb(133, 133, 133)" (click)="setColor('rgb(133, 133, 133)')"></div>
    <div class="palette-block" style="background-color: rgb(155, 22, 22)" (click)="setColor('rgb(155, 22, 22)')"></div>
    <div class="palette-block" style="background-color: rgb(73, 2, 189)" (click)="setColor('rgb(73, 2, 189)')"></div>
    <div class="palette-block" style="background-color: rgb(222, 0, 222)" (click)="setColor('rgb(222, 0, 222)')"></div>
    <div class="palette-block" style="background-color: rgb(255, 255, 255)" (click)="setColor('rgb(255, 255, 255)')"></div>
    <div class="palette-block" style="background-color: rgb(25, 13, 233)" (click)="setColor('rgb(25, 13, 233)')"></div>
    <div class="palette-block" style="background-color: rgb(105, 36, 151)" (click)="setColor('rgb(105, 36, 151)')"></div>
  </div>

</ion-content>